<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || '温度センサー監視システム' %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/index-styles.css" rel="stylesheet">
    <link href="/css/404.css" rel="stylesheet">
    <link href="/css/error.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <%- body %>
</body>
</html>
